body {
    background-color: #1d1d32;
    color: rgb(245, 245, 208);
    font-family: Verdana;
    position: relative;
}

hd {
    font-size: 50px;
    font-family: Helvetica;
}

td {
    padding: 3px;
}